body,* {
  padding:0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

body{
  background: url("../images/11340.jpg") center center no-repeat;
  background-size: cover;
}

#logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -125px;
  width: 125px;
  height: 125px;
  background: url("../images/logo.png") center center no-repeat;
  background-size: contain;
}
a {
  color: #00B7FF;
}

h1{
  color: #333;
}

#babbo{
  position: absolute;
  background: url("../images/babbo.png") center center no-repeat;
  background-size: contain;
  width: 120px;
  height: 165px;
  right:-107px;
  top: 20%;
}
#renna{
  position: absolute;
  background: url("../images/renna.png") center center no-repeat;
  background-size: contain;
  width: 120px;
  height: 155px;
  left:-107px;
  top: 50%;
}
.contenitore {
  position: relative;
  display: flex;
  background-color: #77777700;
  padding: 0 10vw;
  height: 100vh;
  align-items: center;

  .tabellone {
    width: 100%;
    flex:1;
    border: 1px solid #999;
    position: relative;
    background-color: #FFF;
    border-radius: 20px;
    .number {
      border: 1px solid #777;
      text-align: center;
      padding: 10px;
      flex: 1;
      font-size: 20px;
    }

    .extracted {
      font-weight: bold;
      background-color: #e50007;
      color: #FFF;
      border: 1px solid #FFF;
    }
  }
  .col_dx{
    width: 300px;
    background-color: #00B7FF;
    height: 100vh;
  }
}




.snowflakes {
  width: 100%; height: 100vh;
  position: absolute; top: -90px; left: 0;
}

i, i:after, i:before { background: white; }
i {
  display: inline-block;
  -webkit-animation: snowflakes 3s linear 2s 20;
  -moz-animation: snowflakes 3s linear 2s 20;
  position: relative;
}
i:after, i:before {
  height: 100%;
  width: 100%;
  content: ".";
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(120deg);
}
i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
  0% {
    -webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
  }
  100% {
    -webkit-transform: translate3d(15px, 110vh, 0px) rotate(360deg) scale(0.6);
  }
}

.snowflakes i:nth-child(3n) {
  width: 16px; height: 4px;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
  width: 24px; height: 6px;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
  width: 32px; height: 8px;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: right -15px;
}

/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}
#main_estrattore_container{
  height: 100vh;
}
#risultati{
  background-color: #FFFC;
  color: #333;
  font-size: 16px;
  min-height: 100px;

  #tombole, #cinquine, #totali{
    margin: 20px;
  }

}
#estrattore_container, #estrattore_container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#numero {
  margin: 50px 0;
  border-radius: 25px;
  text-align: center;
  border: 5px solid #e50007;
  font-size: 60px;
  width: 200px;
}
#cancella {
  margin: 50px 0;
  border-radius: 25px;
  text-align: center;
  border: 5px solid #940006;
  font-size: 50px;
  color: #FFF;
  width: 300px;
  background-color: #f06063;
}

#estratto{
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 450px;
  height: 350px;
  background-color: #FFF;
  border-radius: 30px;
  z-index: 10000;
  border: 10px solid #e50007;
  box-shadow: 0px 0px 15px #000;


  #numero_estratto{
    text-align: center;
    color: #e50007;
    font-size: 150px;
    padding-top: 20px;
  }
  #cabala{
    text-align: center;
    padding: 0 40px;
    font-size: 36px;
    text-transform: uppercase;
  }
}
